
# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env

# Data & Models (Preserve Folder structure but ignore large files)
data/*.csv
models/*.pth
models/*.pkl
logs/*.jsonl
api_log.txt
api_error.txt

# OS
.DS_Store
Thumbs.db

# Frontend
vetnet-ui/node_modules/
vetnet-ui/dist/
vetnet-ui/.env